@charset "utf-8";
/*
分享样式
*/
.page_title h2 img { height:24px; width:24px; float:left; margin-right: 5px; }
.page_title h2 { font-size:14px; color:#000000; font-weight:bold; line-height:25px; float: left; height: 25px; margin-bottom: 10px; }
.page_title .ShareEdit { clear:both; padding-left:50px; width:auto }
.page_title .ShareEdit .edit { margin-bottom: 10px; }
.page_title .ShareEdit .editC { background-color: #fcfcfc; border: 1px solid #f0f5f8; color: #666666; padding-top: 5px; padding-bottom: 5px; }
/* 好友心情 */
.Friend { clear:both; overflow:hidden }
.Friend .FList { width:640px; overflow: hidden; }
.Friend .FList .Fli { width:100%; margin-bottom:5px; clear: both; }
.Friend .FList .Fli .user_img { width:66px; float:left }
.Friend .FList .Fli .user_img .name { text-align: center; width: 60px; line-height: 25px; }
.Friend .FList .Fli .LC { text-align:left; padding-right:5px; padding-left:5px; float: left; width: 560px; }
.Friend .FList .Fli .MC { }
.Friend .FList .Fli .MC p { margin:5px 0; padding:0; line-height:180%; color: #666666; }
.Friend .FList .Fli .MC h4 { line-height:28px; color:#666666; margin:0px; font-size: 12px; background-color: #f7f7f7; border-top-width: 1px; border-top-style: solid; border-top-color: #d8dfea; height: 28px; font-weight: normal; padding-top: 0px; padding-right: 5px; padding-bottom: 0px; padding-left: 5px; }
.Friend .FList .Fli .MC h5 { font-size: 12px; font-weight: bold; margin: 0px; padding: 0px; line-height: 25px; }
.Friend .FList .Fli .RC { width:70% }
.Friend .FList .Fli .RC .RLI { padding-top:5px; padding-bottom:5px; border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#DADADA }
.Friend .FList .Fli .RC .user_img { height:38px; width:38px; float:left; overflow:hidden }
.Friend .FList .Fli .RC .user_img img { height:38px; width:38px }
.Friend .FList .Fli .RC .RLC { text-align:left; margin-left:45px; float:none; padding-right:5px; padding-left:5px }
.Friend .FList .Fli .RC .RLC h4 { line-height:20px; color:#999999; font-weight:bold; margin:0px; padding:0px }
.Friend .FList .Fli .RC .RLC h4 span { margin-right:10px; margin-left:10px; font-weight:normal }
.Friend .FList .Fli .RC .RLC p { margin:0px; line-height:18px; padding:0px; color: #666666; }
.Friend .FList .Fli .input_box { background-color:#F1F6FF; padding:0px; overflow:hidden; margin:5px 0px 0px }
.Friend .FList .Fli .input_box textarea { width:97%; border:1px solid #BDC7D8; margin:5px; padding:0px; font-size:12px }
.Friend .FList .Fli .input_box .btn { margin-right:5px; margin-bottom:5px; margin-left:5px; background-color:#ffc100; border-top-width:0px; border-right-width:0px; border-bottom-width:0px; border-left-width:0px; border-top-style:none; border-right-style:none; border-bottom-style:none; border-left-style:none; background-image:url(images/btn_2.jpg); background-repeat:no-repeat; background-position:0px 0px; height:22px; width:56px; font-size:12px }
