#imbox ul,#imbox ul li{margin:0;padding:0;list-style-type:none;float:left;}

#imbox p{margin:0;padding:0;margin-bottom:5px; text-indent:2em;}
#imbox div{overflow:hidden;}
#imbox input,#imbox select,#imbox textarea{margin:0;padding:0;font-size:12px;}
#imbox img,#imbox form{border:none;padding:0;margin:0;}
  
#imbox h1,#imbox h2,#imbox h3,#imbox h4,#imbox h5,#imbox h6{margin:0;padding:0;font-size:12px;float:left;}

#imbox{
	position: fixed;
	bottom:2px;
	right:5px;
	width:218px;
	background:url(../images/right_bg.gif) bottom left repeat-y;
	text-align: left;
	z-index:20;
}
 * html,* html body /* 修正IE6振动bug *//*{background-image:url(about:blank);background-attachment:fixed;}*/
* html #imbox /* IE6 右侧固定 */ {position:absolute;right:auto;left:expression(eval(document.documentElement.scrollLeft+document.documentElement.clientWidth-this.offsetWidth)-(parseInt(this.currentStyle.marginLeft,10)||0)-(parseInt(this.currentStyle.marginRight,10)||0)-5);}
* html #imbox /* IE6 底部固定  */{position:absolute;bottom:auto;top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0))-2);}

  #imbox h1{width:219px;height:28px;background:url(../images/right_topbg.gif) top left no-repeat;line-height:20px;color:#0477c8;}
  #imbox img{margin:0 2px;float:left;}
  #imbox h1 strong{
	float:left;
	margin-left:5px;
	padding:5px 0 0 5px;
	color: #FFF;
}
  #imbox h1 .im_ico_msg{ float: left; margin-top: 9px; visibility: hidden; }
  #imbox h1 span{float:right;padding-top:1px;cursor:pointer;}
  #imbox h2{font-weight:normal;line-height:30px;width:195px;padding:5px 10px 5px 6px;height:402px;overflow:auto;SCROLLBAR-FACE-COLOR: #fcfcfc;
 SCROLLBAR-HIGHLIGHT-COLOR: #6c6c90;
 SCROLLBAR-SHADOW-COLOR: #fcfcfc;
 SCROLLBAR-3DLIGHT-COLOR: #fcfcfc;
 SCROLLBAR-ARROW-COLOR: #240024;
 SCROLLBAR-TRACK-COLOR: #fcfcfc;
 SCROLLBAR-DARKSHADOW-COLOR: #48486c;
 SCROLLBAR-BASE-COLOR: #fcfcfc;overflow-x:hidden; }
  #imbox h2 ul{width:100%;}
  #imbox h2 li{width:100%;line-height:23px;}
  #imbox h2 a{width:100%;height:25px;float:left;padding:2px;text-decoration:none;color:#303030;overflow:hidden;}
  #imbox h2 a:hover{background-color:#eef9ff;border:#b4e1ff 1px solid;width:100%;height:25px;padding:1px;}
  #imbox h2 span{color:#949494;margin-left:5px;}
  #imbox h2 li img{ margin:0 2px;}
  #imbox h3{width:218px;height:35px;background:url(../images/right_bottombg.gif) bottom no-repeat;}
  #imbox h3 span{background-color:#dbeffd;border:#3eb1f9 1px solid;width:195px;height:25px;float:left;padding-left:8px;margin:0 0 15px 6px;font-weight:normal;color:#0477c8;line-height:25px;}
#imbox.min{height:28px;width:110px;}
  #imbox.min h1{background-image:url(../images/right_topbg2.gif);font-size:12px; width:110px;}
  #imbox.min h1 .im_ico_msg{ float: left; margin-top: 9px; visibility: visible; }
  #imbox.min h2{display:none;}
  #imbox.min h3{display:none;}
#imbox.right{position:static;float:right;}

#im_notification{ display:none; position: absolute; right:30px; bottom:30px; height: 16px; color: #FF0000; font-weight: normal; text-align: center; font-size: 10px; background-image: url(../images/ico_msg2.gif); background-repeat: no-repeat; background-position: left 0px; white-space: nowrap; padding-left: 5px; }
#im_notification span{ display:inline-block; height: 16px; color: #FF0000; font-weight: normal; font-size: 10px; background-image: url(../images/ico_msg2.gif); background-repeat: no-repeat; background-position: right 0px; white-space: nowrap; padding-right: 4px; }